name: Daily Email Sender

on:
  schedule:
    - cron: "30 3 * * *"   # Runs 9 AM IST (03:30 UTC)
  workflow_dispatch:

jobs:
  send-daily-email:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Grant mvnw permission
        run: chmod +x mvnw

      - name: Run Daily Job
        env:
          SPRING_MAIL_HOST: smtp.gmail.com
          SPRING_MAIL_PORT: 587
          SPRING_MAIL_USERNAME: ${{ secrets.SPRING_MAIL_USERNAME }}
          SPRING_MAIL_PASSWORD: ${{ secrets.SPRING_MAIL_PASSWORD }}

          SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
          SPRING_DATASOURCE_DRIVER: org.postgresql.Driver

        run: |
          ./mvnw -q -DskipTests package
          java -jar target/*.jar
